:root {
  --primary: rgb(246, 52, 64);
  --primary-darken: rgb(199, 41, 51);
  --white: #fff;
  --white-darken-2: rgb(232, 230, 230);
  --white-darken-1: #f9f9f9;
  --white-darken-3: #f2f2f2;
  --gray: #787878;
  --bg-gray: #ebeff2;
  --black: #000;
  --black-shadow: rgba(0, 0, 0, 0.2);
  --green: #20ac76;
  --green-darken: #1c9e6c;
  --info: #17a2b8;
  --border-gray: #ddd;
}

/* Fonts */

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-Bold-Italic";
  src: url("fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster/Lobster-Regular.ttf");
}

/* General styles */

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--bg-gray);
}

.btn {
  outline: none;
  text-decoration: none;
  border: none;
}

.text-color-primary {
  color: var(--primary);
}

.text-color-success {
  color: var(--green);
}

.text-color-info {
  color: var(--info);
}

.container {
  width: 100%;
  padding: 0rem 1.6rem;
  margin: 0 auto;
}

.mobile-view {
  display: none;
}

.text-center{
  text-align: center;
}

.d-flex {
  display: flex
}

.flex-row {
  flex-direction: row
}

.justify-content-between{
  justify-content: space-between
}

.align-items-center {
  align-items: center
}



@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .mobile-view {
    display: block;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* main */
main {
  display: flex;
  height: 100vh;
  position: relative;
}

.main-container {
  flex: 1;
  background-color: var(--bg-gray);
}

.sidebar {
  width: 30rem;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  /* align-items: center; */
  position: relative;
}

.sidebar .logo-div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar .logo-div .logo {
  color: var(--white);
  font-family: "Lobster";
  font-size: 2.2rem;
}

.sidebar .logo-div .cancel-btn {
  width: 2rem;
  height: 2rem;
}

.sidebar nav {
  flex: 1;
  padding-top: 15vh;
}

.sidebar nav .user-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.2rem;
}

.sidebar nav .user-welcome img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.sidebar nav .user-welcome span {
  color: var(--white);
  font-size: 1.4rem;
  max-width: 70%;
}

.sidebar nav .nav-links {
  display: flex;
  flex-direction: column;
}

.sidebar nav .nav-links li {
  list-style-type: none;
  font-size: 1.6rem;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
  padding-left: 3.2rem;
  color: var(--white);
  font-family: "Lato-Light";
  cursor: pointer;
}

.sidebar nav .nav-links li a {
  color: var(--white);
  text-decoration: none;
}

.sidebar nav .nav-links li.active {
  background-color: var(--primary-darken);
  color: var(--white);
  border-left: 3px solid var(--white);
}

@media (max-width: 768px) {
  .sidebar {
    margin-left: -100rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transition: all 0.5s ease-in-out;
  }

  .sidebar.active {
    margin-left: 0rem;
  }
}

/* main container */

.main-container {
  padding: 3.2rem;
  flex:1;
  overflow: auto;
}

.main-container nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.main-container nav span {
  font-size: 1.8rem;
  font-family: "Lato-Light";
}

.main-container nav img {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.main-container nav .notif-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.main-container nav .notif-section .notif-list {
  display: none;
  opacity: 0;
  position: absolute;
  top: 1.6rem;
  width: 30rem;
  border: 1px solid var(--border-gray);
  margin-top: 1.6rem;
  transition: all 0.3s ease-in-out;
}

.main-container nav .notif-section .notif-list.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.main-container nav .notif-section .notif-list li {
  list-style-type: none;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-gray);
  cursor: pointer;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Lato-Light";
}

.main-container nav .notif-section .notif-list li:nth-child(even) {
  background-color: var(--white-darken-3);
}

.main-container .content {
}

.main-container .content > h2 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.main-container .content > h3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.main-container .content .order-summary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.main-container .content .order-summary .card {
  min-width: 20rem;
  max-width: 30rem;
  flex: 1;
  background-color: var(--white);
  box-shadow: 0 0.4rem 1.6rem var(--black-shadow);
  padding: 1.6rem 3.2rem;

  min-height: 10rem;
  margin: 0 1.6rem 1.6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 0.5rem;
}

.main-container .content .order-summary .card .count {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
  text-align: right;
}

.main-container .content .order-summary .card .desc {
  font-size: 2.4rem;
  font-family: "Lato-Light";
  text-align: right;
}

.main-container .content .order-summary .order-count {
}

@media (max-width: 576px) {
  .main-container nav span {
    font-size: 1.6rem;
  }

  .main-container .content .order-summary .card {
    width: 100%;
  }
}

/* latest orders */

.table-wrapper {
  width: 100%;
  /* border: 1px solid black; */
  overflow-x: scroll;
  box-shadow: 0 0.4rem 1.6rem var(--black-shadow);
}

table {
  display: table;
  background-color: var(--white);
  border-color: var(--gray);
  width: 100%;
  border-collapse: collapse;
}

/* table tr, table thead {
    width: 100%;
} */

table th {
  background-color: var(--primary);
  color: var(--white);
  padding: 0.8rem;
  text-align: left;
  font-size: 1.6rem;

}

table tr td {
  padding: 0.8rem;
  font-size: 1.6rem;
  font-family: "Lato-Light";
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: var(--white-darken-3);
}




