:root {
    --primary: rgb(246, 52, 64);
    --primary-darken: rgb(199, 41, 51);
    --white: #fff;
    --white-darken-2: rgb(232, 230, 230);
    --white-darken-1: #F9F9F9;
    --gray: #787878;
}


/* Fonts */

@font-face{
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf");
    font-weight: normal
}

@font-face{
    font-family: "Lato-Bold";
    src: url("fonts/Lato/Lato-Bold.ttf");
}

@font-face{
    font-family: "Lato-Bold-Italic";
    src: url("fonts/Lato/Lato-BoldItalic.ttf");
}

@font-face{
    font-family: "Lato-Light";
    src: url("fonts/Lato/Lato-Light.ttf");
}

@font-face{
    font-family: "Lobster";
    src: url("fonts/Lobster/Lobster-Regular.ttf");
}



/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
}

.btn {
    outline: none;
    text-decoration: none;
    border: none;
}

.container {
    padding: 0rem 6.4rem;
}




/* header styles */

header {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url("./images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: var(--primary);
    padding: 1rem 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header nav .logo {
    font-family: 'Lobster';
    font-size: 2rem;
    color: var(--white);
}

header nav .btn {
    color: var(--white);
    padding: 1rem 1.5rem;
    border: 1px solid var(--white);
    background-color: transparent;
    border-radius: 3rem;
    
}

header nav .btn:hover {
    background-color: var(--white);
    color: var(--primary);
}

header nav .btn:active {
    background-color: var(--white-darken-2);
    color: var(--primary);
}



header .hero-text-box {
    color: #fff;
    transform: translate(30%, 20%)
}

header  .hero-text-box h1 {
    font-family: "Lato-Bold-Italic";
    font-size: 8rem;
    margin-bottom: 0.5rem;

}

header  .hero-text-box p {
    font-family: "Lato-Light";
    font-size: 3rem;
    font-weight: light;
}

header  .hero-text-box .btn {
    font-family: "Lato-Light";
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 1rem;
    margin-top: 4rem
}

header  .hero-text-box .btn:active {
    background-color: var(--primary-darken);
    color: var(--white);
    
}


/* Guide section */

.guide {
    background-color: var(--white-darken-1);
    padding: 4.8rem 0rem 4.8rem 0rem;
    text-align: center;
}

.guide h2 {
    font-size: 3.2rem;
    margin-bottom: 3.2rem
}

.guide-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.guide-row-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guide-row-item img {
    height: 10rem;
    width: 10rem;
    margin-bottom: .8rem
}

.guide-row-item span {
    text-align: center;
    max-width: 200px;
    font-size: 1.6rem;
    color: var(--gray);
    font-family: "Lato-Light"
}



/* popular bukas section */

.popular {
    background-color: var(--white);
    padding: 4.8rem 0rem 4.8rem 0rem;
}

.popular  h2 {
    font-size: 3rem;
    text-align: center;
}

.popular-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.2rem;
    align-items: center;
}

.popular-item {
    margin-right: 1.6rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
    cursor: pointer;
}

.popular-item:hover {
    transform: scale(1.05);
}

.popular-item img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.popular-item h3 {
    font-size: 1.8rem;
}

.popular-item span {
    font-family: "Lato-Light";
    font-size: 1.6rem;
    color: var(--gray);
    width: 20rem;
}

/* next section */
.next {
    background-color: var(--primary);
    min-height: 30rem
}